config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ start platform | caps: 150 | ram: 1M | managing_system: yes
  + binary imx7d_platform
  + provides | + service Platform
  + config
  | + policy | label: nic ->  | info: yes
  |   + device fec0
  |   + device fec1
  + route | + any-service | + parent

+ start nic | caps: 250 | ram: 30M
  + binary fec_nic
  + route
    + service ROM | label: nic.dtb | + parent | label: fec_nic-imx7d_sabre.dtb
    + service Uplink               | + parent
    + service ROM                  | + parent
    + service PD                   | + parent
    + service RM                   | + parent
    + service CPU                  | + parent
    + service LOG                  | + parent
    + service Timer                | + parent
    + service Platform             | + child platform
-
