config
+ parent-provides
  + service CPU
  + service IO_MEM
  + service IRQ
  + service LOG
  + service PD
  + service RM
  + service ROM
  + service Timer
  + service Uplink

+ default | caps: 100

+ start report_rom | caps: 100
  + resource RAM | quantum: 1M
  + provides
    + service Report
    + service ROM
  + config | verbose: no
    + policy | label:  eth1 -> mac | report: eeprom -> eeprom_entry_2
    + policy | label:  eth2 -> mac | report: eeprom -> eeprom_entry_1
  + route | + any-service | + parent

+ start platform | caps: 150 | managing_system: yes
  + binary imx8mp_platform
  + resource RAM | quantum: 2M
  + provides
    + service Platform
    + service Regulator
  + config
    + policy | label: eth1 -> | info: yes | + device fec
    + policy | label: eth2 -> | info: yes | + device eqos
    + policy | label: i2c ->  | info: yes | + device i2c2
    + policy | label: pin ->  | info: yes | + device gpio1
  + route | + any-service | + parent

+ start pin | caps: 150
  + binary imx_pio
  + resource RAM | quantum: 2M
  + provides
    + service Pin_control
    + service Pin_state
    + service IRQ
  + config
    + out STMMAC_PHY_nRST | bank: 0 | index: 10 | default: off
      . deassert reset signal of STMMAC NICs Phy
    + policy | label: eth2 -> eqos_phy_reset | pin: STMMAC_PHY_nRST
  + route
    + service Platform | + child platform
    + any-service      | + parent

+ start i2c | caps: 150
  + binary imx8q_evk_i2c
  + resource RAM | quantum: 2M
  + provides | + service I2c
  + config | verbose: yes
    + policy | label_prefix: eeprom | bus_address: 0x50
  + route
    + service Platform | + child platform
    + any-service      | + parent

+ start eeprom
  + binary imx8mp_iot_gate_eeprom_reader
  + resource RAM | quantum: 10M
  + route
    + service I2c    | + child i2c
    + service Report | + child report_rom
    + any-service    | + parent

+ start eth1 | caps: 200 | ram: 20M
  + binary fec_nic
  + config
  + route
    + service ROM | label: nic.dtb | + parent | label: fec_nic-imx8mp_iot_gate.dtb
    + service ROM | label: mac     | + child report_rom
    + service Platform             | + child platform
    + any-service                  | + parent

+ start eth2 | caps: 200 | ram: 20M
  + binary stmmac_nic
  + config
  |        mac_address_by_rom:    yes
  |        phy_reset_control:     yes
  |        phy_reset_active_high: no
  + route
    + service ROM | label: nic.dtb | + parent | label: stmmac_nic-imx8mp_iot_gate.dtb
    + service ROM | label: mac     | + child report_rom
    + service Platform             | + child platform
    + service Pin_control          | + child pin
    + any-service                  | + parent
-
