config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ default | caps: 100

+ start platform | caps: 150 | ram: 1M | managing_system: yes
  + binary imx8mq_platform
  + provides | + service Platform
  + route | + any-service | + parent
  + config
    + policy | label: nic ->  | info: yes
      + device fec

+ start nic | caps: 200 | ram: 20M
  + binary fec_nic
  + route
    + service ROM | label: nic.dtb | + parent | label: fec_nic-mnt_reform2.dtb
    + service ROM                  | + parent
    + service PD                   | + parent
    + service RM                   | + parent
    + service CPU                  | + parent
    + service LOG                  | + parent
    + service Timer                | + parent
    + service Uplink               | + parent
    + service Platform             | + child platform
-
