config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Report
  + service Timer
+ default | caps: 100
+ service Usb
  + default-policy
    + child usb
+ start black_hole | ram: 2M
  + provides
  | + service ROM
  + config
  | + rom
  + route
    + any-service
      + parent
+ start platform | caps: 300 | ram: 2M | managing_system: yes
  + binary imx8mp_platform
  + provides
  | + service Platform
  + config
  | + policy | label: usb ->  | info: yes
  |   + device usb3_phy0
  |   + device usb3_0
  |   + device usb_dwc3_0
  |   + device usb3_phy1
  |   + device usb3_1
  |   + device usb_dwc3_1
  + route
    + service ROM | label: system
    | + child black_hole
    + any-service
      + parent
+ start usb | caps: 200 | ram: 16M
  + binary imx8m_usb_host
  + provides
  | + service Usb
  + route
    + service ROM | label: dtb
    | + parent | label: imx8m_usb_host-imx8mp_iot_gate.dtb
    + service ROM | label: config
    | + parent | label: usb_host.config
    + service Platform
    | + child platform
    + any-service
      + parent
-
