config | verbose: true

+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Capture
  + service Event

+ start report_rom | caps: 100 | ram: 1M
  + provides
    + service Report
    + service ROM
  + config | verbose: no
    + default-policy | report: usb -> devices
  + route | + any-service | + parent

+ start platform | caps: 150 | ram: 2M | managing_system: yes
  + binary imx8mq_platform
  + provides | + service Platform
  + route | + any-service | + parent
  + config
    + policy | label: usb ->  | info: yes
      + device usb_host_1
      + device usb_phy_1
      + device usb_host_2
      + device usb_phy_2
    + policy | label: fb ->  | info: yes
      + device dcss
      + device hdmi
      + device irqsteer

+ start event_filter | caps: 100 | ram: 2M
  + provides | + service Event
  + route
    + service ROM | label: config | + parent | label: event_filter.config
    + service Event               | + parent
    + any-service                 | + parent

+ start usb | caps: 150 | ram: 12M
  + binary imx8m_usb_host
  + provides | + service Usb
  + config
  | + report | devices: yes
  | + policy | label_prefix: usb_hid
  |   + device | class: 0x3
  + route
    + service ROM | label: dtb | + parent | label: imx8m_usb_host-imx8q_evk.dtb
    + service Report           | + child report_rom
    + service RM               | + parent
    + service ROM              | + parent
    + service PD               | + parent
    + service CPU              | + parent
    + service LOG              | + parent
    + service Timer            | + parent
    + service Platform         | + child platform

+ start usb_hid | caps: 140 | ram: 11M
  + provides | + service Input
  + route
    + service ROM | label: report | + child report_rom
    + service Event               | + child event_filter | label: usb
    + service RM                  | + parent
    + service ROM                 | + parent
    + service PD                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Timer               | + parent
    + service Usb                 | + child usb

+ start fb | caps: 250 | ram: 40M
  + binary imx8mq_fb
  + route
    + service ROM | label: dtb | + parent | label: imx8mq_fb-imx8q_evk.dtb
    + service RM               | + parent
    + service ROM              | + parent
    + service PD               | + parent
    + service CPU              | + parent
    + service LOG              | + parent
    + service Timer            | + parent
    + service Capture          | + parent
    + service Platform         | + child platform
-
