config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Report
  + service Timer

+ default | caps: 100

+ service Usb | + default-policy | + child usb

+ start platform | caps: 150 | ram: 2M | managing_system: yes
  + binary imx6q_platform
  + provides | + service Platform
  + route | + any-service | + parent
  + config
    + policy | label: usb ->  | info: yes
      + device usbotg
      + device usbphy1
      + device usbphy2
      + device usbmisc_imx
      + device usbh1
    + policy | label: pin ->  | info: yes
      + device gpio3
      + device gpio7

+ start pin | caps: 150 | ram: 2M
  + binary imx_pio
  + provides
    + service Pin_state
    + service Pin_control
    + service IRQ
  + route
    + service Platform | + child platform
    + any-service      | + parent
  + config
    + out usb_otg_vbus | bank: 0 | index: 22 | default: on
    + out usb_h1_vbus  | bank: 1 | index: 12 | default: on

+ start usb | caps: 180 | ram: 20M
  + binary imx_usb_host
  + provides | + service Usb
  + route
    + service ROM | label: dtb    | + parent | label: imx_usb_host-imx6q_sabrelite.dtb
    + service ROM | label: config | + parent | label: usb_host.config
    + service ROM                 | + parent
    + service PD                  | + parent
    + service RM                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Report              | + parent
    + service Timer               | + parent
    + service Platform            | + child platform
-
