config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ start platform | caps: 150 | ram: 2M | managing_system: yes
  + binary imx8mq_platform
  + provides | + service Platform
  + config
    + policy | label: nic -> | info: yes | + device fec
  + route | + any-service | + parent

+ start nic | caps: 280 | ram: 20M
  + binary fec_nic
  + route
    + service ROM | label: nic.dtb | + parent | label: fec_nic-imx8q_evk.dtb
    + service ROM                  | + parent
    + service PD                   | + parent
    + service RM                   | + parent
    + service CPU                  | + parent
    + service LOG                  | + parent
    + service Timer                | + parent
    + service Uplink               | + parent
    + service Platform             | + child platform
-
