config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Report
  + service Timer

+ default | caps: 100

+ service Usb | + default-policy | + child usb

+ start platform | caps: 300 | ram: 2M | managing_system: yes
  + binary imx8mq_platform
  + provides | + service Platform
  + route | + any-service | + parent
  + config
    + policy | label: usb ->  | info: yes
      + device usb_host_1
      + device usb_phy_1
      + device usb_host_2
      + device usb_phy_2

+ start usb | caps: 200 | ram: 16M
  + binary imx8m_usb_host
  + provides | + service Usb
  + route
    + service ROM | label: dtb    | + parent | label: imx8m_usb_host-imx8q_evk.dtb
    + service ROM | label: config | + parent | label: usb_host.config
    + service Platform            | + child platform
    + any-service                 | + parent
-
